body{
    background-color: rgb(0, 0, 0);
    font-style: italic;
    color: whitesmoke;
}
#title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.content{
    text-align: center;
}
#tb1,#f1{
    width: 50%;
    margin-left:25%;   
    margin-right: 25%;
    padding: 5px;
}
table, th, td {
    text-align: center;
    border: 1px solid rgb(238, 227, 227);
    border-collapse: collapse;
}      