{% extends "base.html" %}
{% block body %}
<div id="title"><h1>Task Master</h1></div>
<div class="content">
    <form action="" method="POST" id="f1">
        <input type="text" name="content" id="content ">
        <input type="submit" value="ADD">
    </form>
    {% if tasks %}
    <table id=tb1>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td><a href="/update/{{ task.id }}">Update</a><br><a href="/delete/{{ task.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>   
    {% else %}
    <h3>Add some Task, Never Forget!👍🏼🤙🏼</h3>
    {% endif %}
</div>
{% endblock %}